html, body {
    height: 100%;
    margin: 0; 
	padding: 0;
	font-family: 'Calibri Light', Calibri;
}

body{
	display : table;
    width: 100%;
	background-color: #eee;
}

header, footer, nav{
	font-family: 'Philosopher', sans-serif;
}

header{
	font-size: 40pt;
	background-color: #4F1A5C;
	color: white;
	padding: 10px;
	border-left: solid 15px gold;
}

nav{
	background-color: black;
	padding: 1px;
	text-align: center;
}

nav ul{
	list-style-type: none; 
}

nav ul li{
	display: inline;
	color: white;
	font-size: 15pt;
	margin: 0 30px;
}

nav ul li a{
	text-decoration: none;
	color: white;
}

nav ul li a:hover{
	text-decoration: none;
	color: gold;
	transition: 1s;
}

.selection{
	color: gold;
}

/*début tableau liste vip de vip.php*/

#form{
	text-align: center;
}

select{
	height: 25px;
	background-color: #4F1A5C;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 0 5px;
	outline: none;
	cursor: pointer;
}

select option{
	height: 25px;
	padding: 0 5px;
	outline: none;
}

button{
	border-radius: 5px;
	background-color: #4F1A5C;
	height: 25px;
	color: white;
	outline: none;
	border: none;
	cursor: pointer;
}

.vip {
	margin: 10px auto;
	background-color: white;
	border-collapse: collapse;
}

.vip tr{
	padding: 5px;
}

.vip td{
	width: 200px;
	padding: 5px;
}

.vip td a {
	text-decoration:none;
	color: black;
	font-weight:bold;
}
.vip td a:hover {
	color: #4F1A5C;
	transition: 1s;
}

.vip td img {
	width: 75px;
}
/*fin tableau liste vip de vip.php*/

/*debut tableau detail vip de detailv.php*/
.detailv{
	width:100%;
	margin: 10px 0;
	padding: 15px 150px 15px 15px;
	background-color: white;
}

.detailv td{
	padding: 5px;
	width: 500px;
}

.detailv td img {
	width: 150px;
}

#filmo h1, #statut h1, #photo  h1{
	font-size: 15pt;
}

#filmo{
	background-color: white;
	float: left;
	width: 30%;
	padding: 0px 15px 15px 15px;
	margin-bottom: 35px;
}

#filmo img{
	width: 75px;
}

#statut{
	background-color: white;
	float: right;
	width: 62%;
	padding: 0 15px;
}

#photo{
	background-color: white;
	width: 62%;
	padding: 0px 15px 15px 15px;
	margin: 10px 0px 35px 0px;
	float: right;
}

#photo img{
	width: 250px;
}


/*fin tableau detail vip de detailv.php*/

/*film*/

#bloc{
	
	text-align: center;
}

#bloc img{
	width : 150px;
	border: solid 10px white;
	margin: 1px 20px;
	display: inline;
}
/*fin film*/

/*detailf*/

#detailf{
	background-color: white;
	padding: 1px 10px;
	width: 20%;
	float: left;
}

#detailf img{
	width: 100%;
}

#casting{
	background-color: white;
	width: 65%;
	float: right;
	margin-bottom: 25px;
	padding: 25px;
}

.vipF{
	display: inline-block;
	width: 150px;
	text-align: center;
	padding: 0px 10px;
}

.vipF img{
	width: 150px;
}

.vipF a{
	text-decoration: none;
	color: black;
}

.vipF a:hover{
	color: #4F1A5C;
	transition:1s;
}

/*fin detailf*/

#space{
	width:70%;
	margin: 35px auto;
}

.compteur{
	text-align: center;
	color: #4F1A5C;
}

#error{
	background-color:#F6B3B3;
	padding: 15px 30px;
	border-left: solid 5px red;
	
}

footer{
	font-size: 12pt;
	background-color: #4F1A5C;
	text-align: center;
	color: white;
	display : table-row;
}